.principal {
  display: grid;
  grid-template-columns: 300px 1fr; }
  .principal .formulario__contenedor {
    margin: 20px; }
    .principal .formulario__contenedor__titulo {
      font-weight: 600;
      font-size: 1.5rem;
      margin-bottom: 8px; }
    .principal .formulario__contenedor__item {
      font-size: 1.1rem;
      margin-bottom: 3px; }
    .principal .formulario__contenedor .fieldset {
      border: 0; }
    .principal .formulario__contenedor__rango {
      display: flex;
      column-gap: 15px; }
      .principal .formulario__contenedor__rango .inputPrecio {
        width: 100px;
        height: 20px;
        padding: 2px;
        border-radius: 5px;
        border: 1px solid #392937; }
      .principal .formulario__contenedor__rango .inputBoton {
        width: 27px;
        background-color: white;
        border-radius: 11px;
        border: 1px solid #392937;
        cursor: pointer; }
        .principal .formulario__contenedor__rango .inputBoton:active {
          background-color: red; }
  .principal .productos {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 50px;
    padding: 30px;
    grid-column-start: 2;
    grid-column-end: 3; }
    .principal .productos .producto {
      width: 250px;
      border: solid #d60040;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      margin: auto auto;
      position: relative; }
      .principal .productos .producto .contenedorImg {
        padding: 10px; }
        .principal .productos .producto .contenedorImg img {
          width: 100%; }
      .principal .productos .producto .linea {
        border-bottom: #d60040 solid;
        position: relative; }
        .principal .productos .producto .linea .botonAnadir {
          font-size: 1.6rem;
          color: white;
          width: 27px;
          height: 27px;
          position: absolute;
          top: -23px;
          background-color: #d60040;
          padding: 10px;
          border-radius: 28px;
          text-decoration: none;
          /* centrar con un ancho puesto*/
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center;
          /* animacion: que animar, duracion */
          transition: all .5s;
          cursor: pointer; }
          .principal .productos .producto .linea .botonAnadir:hover {
            /*animacion a hacer*/
            background-color: aquamarine;
            width: 150px; }
            .principal .productos .producto .linea .botonAnadir:hover p {
              display: block; }
            .principal .productos .producto .linea .botonAnadir:hover i {
              display: none; }
          .principal .productos .producto .linea .botonAnadir .letrasAnadirAlCarrito {
            display: none;
            font-size: 1.4rem; }
      .principal .productos .producto__informacion {
        padding: 10px;
        margin-top: 15px; }
        .principal .productos .producto__informacion__marca {
          color: #767374;
          margin-bottom: 3px; }
        .principal .productos .producto__informacion__titulo {
          font-size: 1.5rem;
          margin-bottom: 3px; }
        .principal .productos .producto__informacion__precio {
          font-size: 1.4rem;
          margin-bottom: 3px; }
      .principal .productos .producto .corazon {
        position: absolute;
        top: 7px;
        right: 8px;
        font-size: 1.3rem; }

.titulo {
  text-align: center;
  margin: 10px;
  font-size: 3rem; }

.calculadora {
  display: grid;
  /*"area" column/ row*/
  grid-template-areas: "busquedad busquedad busquedad busquedad busquedad" "mod division borrarUno borrarTodo borrarTodo" "parentesisAbierto siete ocho nueve multiplicacion" "parentesisCerrado cuatro cinco seis restar" "anterior uno dos tres sumar" "md potencia cero punto igual";
  grid-template-columns: repeat(5, 80px);
  grid-template-rows: 1fr repeat(5, 80px);
  gap: 15px;
  background-color: #764aa1;
  border-radius: 5px;
  padding: 30px;
  max-width: 450px;
  justify-content: center;
  margin: 0 auto; }
  .calculadora .entradaDeDatos {
    grid-area: busquedad;
    height: 35px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #990026;
    color: white;
    box-shadow: 6px 6px 10px -1px rgba(53, 2, 182, 0.15), -6px -6px 10px -1px rgba(182, 45, 189, 0.7); }
    .calculadora .entradaDeDatos:focus {
      background-color: #ae4162;
      border: 1px solid transparent; }
  .calculadora .botonesCalculadora {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    text-decoration: none;
    border-radius: 5px;
    color: white;
    background-color: #990026;
    box-shadow: 6px 6px 10px -1px rgba(216, 35, 105, 0.96), -6px -6px 10px -1px rgba(226, 30, 30, 0.1);
    font-size: 2rem;
    border: none; }
    .calculadora .botonesCalculadora:active {
      background-color: #ae4162;
      box-shadow: 6px 6px 10px -1px rgba(53, 2, 182, 0.15), -6px -6px 10px -1px rgba(189, 45, 134, 0.7); }

#n1 {
  grid-area: uno; }

#n2 {
  grid-area: dos; }

#n3 {
  grid-area: tres; }

#n4 {
  grid-area: cuatro; }

#n5 {
  grid-area: cinco; }

#n6 {
  grid-area: seis; }

#n7 {
  grid-area: siete; }

#n8 {
  grid-area: ocho; }

#n9 {
  grid-area: nueve; }

#n0 {
  grid-area: cero; }

#f1 {
  grid-area: sumar; }

#f2 {
  grid-area: restar; }

#f3 {
  grid-area: multiplicacion; }

#f4 {
  grid-area: division; }

#f5 {
  grid-area: igual; }

#f6 {
  grid-area: borrarTodo; }

#f7 {
  grid-area: mod; }

#f8 {
  grid-area: punto; }

#f9 {
  grid-area: anterior; }

#f10 {
  grid-area: parentesisAbierto; }

#f11 {
  grid-area: parentesisCerrado; }

#f12 {
  grid-area: md; }

#f13 {
  grid-area: borrarUno; }

#f14 {
  grid-area: potencia; }

header {
  height: 200px;
  background-color: rebeccapurple;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; }
  header .nav {
    grid-column-start: 2;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
    align-items: center; }
    header .nav .nav__list {
      display: flex;
      list-style: none;
      column-gap: 10px; }
      header .nav .nav__list .nav__item {
        color: white;
        font-size: 2rem;
        text-decoration: none;
        border: #a10030 solid;
        border-radius: 5px;
        padding: 8px; }
        header .nav .nav__list .nav__item:hover {
          background-color: #a10030;
          box-shadow: 2px 5px 10px #a10030; }
        header .nav .nav__list .nav__item:active {
          color: aquamarine; }
        header .nav .nav__list .nav__item .nav__item:visited {
          color: white; }
  header .carrito {
    grid-column-start: 3;
    grid-column-end: 4;
    color: white;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 1rem;
    text-decoration: none;
    font-size: 2rem;
    position: relative; }
    header .carrito .carrito__icono {
      cursor: pointer; }
    header .carrito .carrito__vista {
      background-color: #610471;
      position: absolute;
      z-index: 1;
      top: 104px;
      left: 30px;
      border-radius: 10px;
      padding: 15px;
      width: 400px;
      max-height: 600px;
      visibility: hidden;
      cursor: default;
      overflow-y: auto; }
      header .carrito .carrito__vista__titulo {
        font-size: 2rem;
        margin-bottom: 1rem; }
      header .carrito .carrito__vista .precioTotal {
        margin-bottom: 25px; }
        header .carrito .carrito__vista .precioTotal .precioTotal__div {
          display: flex;
          justify-content: space-between;
          margin-bottom: 10px;
          font-size: 1.5rem; }
      header .carrito .carrito__vista .productoCarrito {
        display: flex;
        margin-bottom: 20px;
        border: solid #c600dc;
        border-radius: 5px;
        padding: 5px;
        position: relative;
        max-height: 130px; }
        header .carrito .carrito__vista .productoCarrito .quitarProducto {
          color: black;
          position: absolute;
          top: -18px;
          right: -13px; }
        header .carrito .carrito__vista .productoCarrito .contenedorImagenCarrito {
          width: 120px; }
          header .carrito .carrito__vista .productoCarrito .contenedorImagenCarrito img {
            width: 100%; }
        header .carrito .carrito__vista .productoCarrito__informacion {
          width: 263px;
          font-size: 1rem;
          margin-top: 5px;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          header .carrito .carrito__vista .productoCarrito__informacion__titulo {
            font-size: 1.5rem; }
          header .carrito .carrito__vista .productoCarrito__informacion .cantidadPrecio {
            display: flex;
            justify-content: space-between;
            font-size: 1.3rem; }
            header .carrito .carrito__vista .productoCarrito__informacion .cantidadPrecio .cantidad {
              display: flex;
              gap: 5px; }
            header .carrito .carrito__vista .productoCarrito__informacion .cantidadPrecio .flecha {
              cursor: pointer; }
      header .carrito .carrito__vista .botonConfirmar {
        cursor: pointer;
        border: solid #c600dc;
        padding: 8px;
        border-radius: 15px;
        background-color: #551d5c;
        font-size: 1.6rem; }

* {
  margin: 0;
  padding: 0; }
