header{
    height: 200px;
    background-color: rebeccapurple;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    .nav{
        grid-column-start: 2;
        grid-column-end: 3;
        display: flex;
        justify-content: center;
        align-items: center;

        .nav__list{
            display: flex;
            list-style: none;
            column-gap: 10px;
        
            .nav__item{
                color: white;
                font-size: 2rem;
                text-decoration: none;
                border:#a10030 solid;
                border-radius:5px;
                padding: 8px;

                &:hover{
                    background-color: #a10030;
                    box-shadow: 2px 5px 10px #a10030;
                }

                &:active{
                    color: aquamarine;
                }
        
                .nav__item:visited{
                    color: white;
                }
            }
        }
    }

    .carrito{
        grid-column-start: 3;
        grid-column-end: 4;
        color: white;
        display: flex;
        justify-content: end;
        align-items: center;
        margin: 1rem;
        text-decoration: none;
        font-size: 2rem;
        position: relative;

        .carrito__icono{
            cursor: pointer;
        }

        .carrito__vista{
            background-color: #610471;
            position: absolute;
            z-index: 1;
            top: 104px;
            left: 30px;
            border-radius: 10px;
            padding: 15px;
            width: 400px;
            max-height: 600px;
            visibility: hidden;
            cursor: default;
            overflow-y: auto;

            &__titulo{
                font-size: 2rem;
                margin-bottom: 1rem;
            }


            .precioTotal{
                margin-bottom: 25px;

                .precioTotal__div{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 10px;
                    font-size: 1.5rem;
                }
            }

            .productoCarrito{
                display: flex;
                margin-bottom: 20px;
                border: solid #c600dc;
                border-radius: 5px;
                padding: 5px;
                position: relative;
                max-height: 130px;

                .quitarProducto{
                    color: rgb(0, 0, 0);
                    position: absolute;
                    top: -18px;
                    right: -13px;
                }

                .contenedorImagenCarrito{
                    width: 120px;

                    img{
                        width: 100%;
                    }
                }

                &__informacion{
                    width: 263px;
                    font-size: 1rem;
                    margin-top: 5px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    &__titulo{
                        font-size: 1.5rem;
                    }

                    .cantidadPrecio{
                        display: flex;
                        justify-content: space-between;
                        font-size: 1.3rem;

                        .cantidad{
                            display: flex;
                            gap: 5px;
                        }

                        .flecha{
                            cursor: pointer;
                        }
                    }
                }
            }

            .botonConfirmar{
                cursor: pointer;
                border: solid #c600dc;
                padding: 8px;
                border-radius: 15px;
                background-color: #551d5c;
                font-size: 1.6rem;
                text-decoration-line: line-through;
            }
        }
    }
}






